// Контрольные точки
$xs: 450px;
$sm: 576px; // mobile
$md: 730px; 
$lg: 992px; // tablet
$xl: 1200px; // desktop
$xxl: 1400px;

// Размеры
$min-width: 320px;
$rem: 8px;
$font-size: 18px;
$line-height: 24px;
$font-size-sm: 16px;
$line-height-sm: 24px;
$font-family: "Lato", sans-serif;

// Цвета
$cl-white: #ffffff;
